<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruanyuan.mapper.EmployeeMapper">
	<cache></cache>
	<!-- 根据id查询身份证号 -->
	<select id="getEmployeeByID" parameterType="Integer" resultMap="BaseResultMap">
		select * from employee where id = #{id}
	</select>
	<resultMap type="employee" id="BaseResultMap">
		<association property="deptment" column="deptment" javaType="Department"
		select="com.ruanyuan.mapper.DepartmentMapper.getDepartmentByID"></association>
	</resultMap>
</mapper>